<div class="container text-center">
	<h1>About Page</h1>
	<p>We are DevMatch. Our company focuses on creating an exclusive community
	for developers and business owners to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.
	</p>
</div>
